.row div {
  background: #000;
  color: white;
}
.about-main {
  background-color: black;
}
.row {
  margin-top: 20px;
}

div .center-button {
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}
.center-button button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.col-lg-5 {
  margin-top: 40px;
}
img {
 align-self: center;
}
