<div class="container about-main">
  <div class="row ">
    <div class="col-lg-5 text-center">
      <h2>You became tired to waste your time for things you don't like to do?</h2>
    </div>
    <div class="col-lg-7 text-center">
      <img src="assets/images/tiredMan.jpg" class="img-responsive" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 text-center">
      <h2>You deserve the best!!! </h2>
    </div>
    <div class="col-lg-7 text-center">
      <img src="assets/images/Car-with-girls.jpg" class="img-responsive " alt="">
    </div>
  </div>
  <div class="row text-center">
    <div class="center-button">
      <h1>You need to look at our service</h1>
      <button type="button" routerLink="/order" routerLinkActive="active" class="btn btn-default btn-lg active">Service</button>
    </div>
  </div>
</div>
