<div class="container">
  <div class="row text-center" >
    <h1>Our workers</h1>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <ul>
        <li *ngFor="let girl of girls"
            [ngClass]="{selected: girl.selected}"
            (click)="getSelectedGirl(girl)">
          {{girl.name}}
        </li>
      </ul>
    </div>
    <div class="col-lg-9 col-md-8 girls-description"  >
      <div *ngIf = "selectedGirl">
        <h2>{{selectedGirl?.name}}</h2>
        <h3><span>interests: </span>{{selectedGirl?.interests}}</h3>
        <img src="{{selectedGirl?.imageSrc}}" alt="girl image"  class="img-responsive">
      </div>
    </div>
  </div>
</div>
