li {
  margin: 30px;
  list-style-type: none;
  background-color: aliceblue;
  color: #000;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 7px;
  font: 20px bold;

  align: center;
}
.row {
  margin-top: 30px;
}
li:hover {
  background-color:rgba(26,26,26,0.8);
  color: white;
  font-size: 22px;
}
li.selected:hover {
  background-color: #BBD8DC !important;
}
.selected {
  background-color: rgba(61,61,61,0.8) !important;
  font-size: 23px;
  color: white;
}
.girls-description {
  padding-left: 50px;
}
.girls-description img {
  margin: 20px;
}
