<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>You can contact us: </h2>
      <ul>
        <li>call: <span>+38(085) 565 65 65</span></li>
        <li>e-mail: <a href="mailto:bikini.servise@gmail.com">Email</a></li>
        <li><a href="https://www.facebook.com/bikini.service">Facebook</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Or find at :</h2>
      <ul>
        <li>Akademika Sakharova Street</li>
        <li>Ivano-Frankivs'k</li>
        <li>Ivano-Frankivs'ka oblast</li>
        <li>76000</li>
      </ul>
    </div>
  </div>
</div>
