
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a routerLink="main" routerLinkActive="active" class="navbar-brand">Bikiny Wash Service</a>
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse navHeaderCollapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/about" routerLinkActive="active">about</a></li>
        <li><a routerLink="/order" routerLinkActive="active">reserve washing</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">contact us</a></li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<footer class="footer navbar-fixed-bottom" >
  <div class="container ">
    <div class="row  text-center">
      <p>Developed by :<a href="https://www.facebook.com/mykola.kaban">Mykola Kaban</a></p>
    </div>
  </div>
</footer>
